{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="table_2">
    <table>
        <thead>
        <tr>
            <th colspan="3"><h2>취미</h2></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3">사진</td>
        </tr>
            <td>탁구</td>
            <td>축구</td>
            <td>풋살</td>
        </tr>
        <tr>
            <td>족구</td>
            <td>농구</td>
            <td>러닝</td>
        </tr>
        <tr>
            <td>사이클링</td>
            <td>산책</td>
            <td>음악감상</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}