@charset "UTF-8";
@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url(../font/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoLB";
    src: url(../font/AppleSDGothicNeoL.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    src: url(../font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: "AppleSDGothicNeoEB";
    src: url(../font/AppleSDGothicNeoEB.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(../font/Pacifico-Regular.ttf);
}

@font-face {
    font-family: "Indie Flower";
    src: url(../font/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: "Black Han Sans";
    src: url(../font/BlackHanSans-Regular.ttf);
}
/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Indie+Flower&display=swap'); */

/* RESET RULES––––––––––––––––––––––––––––––––––––––––––– */

:root {
    --body: #ECF0FF;
}

* {
    background-color: var(--body);
}

.body {
    max-width: 100%;
    max-height: 100%;
}

/* 최상단 이동 버튼 ---------------------------------------*/
.goupbtn {
    top: 87%;
    left: 93%;
    width: 75px;
    height: 75px;
    border-radius: 80%;
    background-color: white;
    border: 1px solid brown;
    position: fixed;
    opacity: 0.8;
    z-index: 2;
    font-family: "AppleSDGothicNeoB";
}

.goupbtn:hover {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #fff9,
        4px 4px 5px 0px #fff9;
}

/* 랜딩페이지 메인-----------------------------------------*/
.landing {
    min-height: 100vh;
}

.landing img {
    position: absolute;
    left: 72%;
    top: 210px;
    width: 200px;
    height: 120px;
    z-index: 1;
}

.landing h1 {
    position: relative;
    top: 200px;
    color:brown;
    text-align: center;
    font-size: 300px;
    font-family: 'Indie Flower';
    margin-bottom: 300px;
}

/* 랜딩페이지 메인 화살표 ----------------------------------*/
.arrow a span {
    position: absolute;
    top: 700px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid brown;
    border-bottom: 1px solid brown;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.arrow a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.arrow a span:nth-of-type(2) {
    top: 740px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.arrow a span:nth-of-type(3) {
    top: 780px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 랜딩페이지 중단부 ---------------------------------------*/
.v-line{
    border-left: thin solid rgb(181, 181, 181);
    height: 200px;
    left: 50%;
    position: absolute;
    -webkit-animation: sdb 4s infinite;
    animation: sdb 4s infinite;
    opacity: 0;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

/* 버튼 ----------------------------------------------------*/
.item button {
    color: brown;
    background-color: white;
    border: 1px none brown;
    padding: 1%;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 5px 7px 20px 0px rgb(156, 156, 156);
}

.item button:hover {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #fff9,
        4px 4px 5px 0px #fff9;
}

.ld_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh 100px 130vh 100px 1fr 100px 1fr 1fr 1fr 0.7fr 0.5fr;
    row-gap: 60px;
    column-gap: 20px;
}

/* 소개 메인 */
.item:nth-child(1) {
    grid-column: 1 / 4;
    grid-row : 1 / 2;
    font-size: 42px;
    font-family: "Black Han Sans";
    color: brown;
    text-align: center;
    margin-top: 10%;
}

/* Introduction 문구 */
.item:nth-child(2) {
    grid-column: 1 / 4;
    grid-row : 2 / 3;
    border-radius: 25px;
    font-size: 40px;
    font-family: "Black Han Sans";
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

/* 소개 내용 */
.item:nth-child(3) {
    grid-column: 1 / 4;
    grid-row : 3 / 4;
    width: 55vw;
    height: 75vh;
    border-radius: 25px;
    font-size: 26px;
    font-family: "AppleSDGothicNeoM";
    font-weight: 100;
    font-style: italic;
    line-height: 50px;
    color: rgb(61, 61, 61);
    opacity: 0.8;
    text-align: center;
    justify-self: center;
    margin-bottom: 15%;
    margin-top: 10%;
}

/* About Me 문구 */
.item:nth-child(4) {
    grid-column: 1 / 4;
    grid-row : 4 / 5;
    border-radius: 25px;
    font-size: 40px;
    font-family: "Black Han Sans";
    color: brown;
    text-align: center;
    justify-content: center;
}

/* Introduction 컨텐츠 */
.item:nth-child(5) {
    grid-column: 1 / 2;
    grid-row : 5 / 6;
    background: white;
    border-radius: 25px;
    height: 50vh;
    box-shadow: 5px 7px 10px 0px rgb(187, 187, 187);
    margin-left: 5%;
}

.item:nth-child(6) {
    grid-column: 2 / 3;
    grid-row : 5 / 6;
    background: white;
    border-radius: 25px;
    height: 50vh;
    box-shadow: 5px 7px 10px 0px rgb(187, 187, 187);
}

.item:nth-child(7) {
    grid-column: 3 / 4;
    grid-row : 5 / 6;
    background: white;
    border-radius: 25px;
    height: 50vh;
    box-shadow: 5px 7px 10px 0px rgb(187, 187, 187);
    margin-right: 5%;
}

/* Hobby 문구 */
.item:nth-child(8) {
    grid-column: 1 / 4;
    grid-row : 6 / 7;
    border-radius: 25px;
    font-size: 40px;
    font-family: "Black Han Sans";
    color: brown;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}

/* Hobby 컨텐츠 */
.item:nth-child(9) {
    grid-column: 1 / 4;
    grid-row : 7 / 8;
    margin-top: 5%;
}

.item:nth-child(10) {
    grid-column: 1 / 4;
    grid-row : 8 / 9;
}

.item:nth-child(11) {
    grid-column: 1 / 4;
    grid-row : 9 / 10;
}

.item:nth-child(12) {
    grid-column: 1 / 4;
    grid-row : 10 / 11;
    border-radius: 25px;
    font-size: 40px;
    font-family: "Black Han Sans";
    color: brown;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}

.item:nth-child(13) {
    grid-column: 1 / 4;
    grid-row : 11 / 12;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
}

.item h2 {
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 2%;
    font-family: "AppleSDGothicNeoM";
}

.item span {
    background-color: white;
    padding: 2%;
    font-family: "AppleSDGothicNeoM00";
    font-size: 22px;
    line-height: 45px;
}

.ld_container ul, .ld_container li {
    background-color: white;
    margin-left: 1%;
    font-family: "AppleSDGothicNeoM00";
    font-size: 17px;
    line-height: 45px;
}

/* Hobby 사진 ---------------------------------------------*/
.photoMe, .riding {
    width: 400px;
    height: 500px;
    border-radius: 30px;
    margin-left: 25%;
    box-shadow: 5px 7px 20px 0px rgb(156, 156, 156);
}

.football {
    width: 450px;
    height: 450px;
    border-radius: 30px;
    margin-left: 45%;
    margin-top: 3%;
    box-shadow: 5px 7px 20px 0px rgb(156, 156, 156);
}

#it9 span, #it11 span {
    font-family: "Indie Flower";
    font-size: 50px;
    color: brown;
    margin-left: 15%;
    background-color: var(--body);
}

#it10 span {
    font-family: "Indie Flower";
    font-size: 50px;
    color: brown;
    position: relative;
    left: 27%;
    background-color: var(--body);
}

/* 랜딩페이지 하단부 ---------------------------------------*/

#it13 h1 {
    font-family: "Black Han Sans";
    font-size: 40px;
    color: brown;
    background-color: white;
    margin-top: 1%;
}