* {
    background-color: #eaf6f4;
    font-family: 'Cormorant Garamond';
}

.mainword {
    color:brown;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 100px;
    text-align: center;
}


input {
    box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box{
    margin-bottom: 200px;
    text-align: center;
}

#search {
    margin: 0 auto;
    display: block;
}

.name {
    text-align: right;
    padding: 5%;
}

table, th, td {
    border: 5px solid white;
    border-collapse: collapse;
    margin: auto;
    width: 700px;    
}

th, td {
    background-color: #c3dcd8;
}

.table_1, .table_2 {
    text-align: center;
}

/*.card {
    padding: 10%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;    
}

.card_img {
    width: 40px;
    height: 20px;
}
*/

#contact {
    text-align: center;
    font-size: 18px;
    background-color: #c3dcd8;
    color: #1b1b1b;
}