* {
    background-color: #eaf6f4;
}

.search_bar {
    height: 40px;
    width: 400px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
}

.form-control {
    width: 1000px;
}

.title {
    text-align: center;
}



.name {
    text-align: right;
    padding: 5%;
}

.dino {    
    width: 40px;
    height: 40px;
}

table, th, td {
    border: 5px solid white;
    border-collapse: collapse;
    margin: auto;
    width: 700px;    
}

th, td {
    background-color: #c3dcd8;
}

.table_1, .table_2 {
    text-align: center;
}

.card {
    padding: 10%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;    
}

.card_img {
    width: 40px;
    height: 20px;
}

#contact {
    text-align: center;
    font-family: fantasy;
    font-size: 18px;
    background-color: #c3dcd8;
    color: #1b1b1b;
}