{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mbti.css' %}?after">

<div class="mbti_grid">
    <div class="mbti_item" id="mbti_it1">
        <img src="{% static 'images/mbti.png' %}" class="mbti" alt="mbti"/>
        <span>"자유로운 영혼의 소유자"</span>
        <hr>
    </div>
    <div class="mbti_item" id="mbti_it2">
        <table>
            <thead>
            <tr>
                <th colspan="2"><h2>특징</h2></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>한번 삘 꽂히면 끝까지 하는 성격</td>
                <td>그 삘이 안 꽂히면 나태해짐</td>
            </tr>
            <tr>
                <td>ENFP, 자유로운 영혼</td>
                <td>해보고 싶은게 많음</td>
            </tr>
            <tr>
                <td>깔끔, 심플한 거 좋아함</td>
                <td>완벽주의 성향</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}