{% extends 'base.html' %}

{% load static %}

{% block content %}

<img class="mypic" src="{% static 'images/Fancy.jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/riding.jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/lostmyway.jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (1).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (2).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (3).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (4).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (5).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (6).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (7).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (8).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (9).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (10).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (11).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (12).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (13).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (14).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (15).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (16).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (17).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (18).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (19).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (20).jpg' %}" alt="mypic"/>
<img class="mypic" src="{% static 'images/photo (21).jpg' %}" alt="mypic"/>


{% endblock %}