{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="title">
        <!--<label for="exampleDataList" class="form-label"><h1>아기사자 검색</h1></label>-->
        <form id="form"> 
            <input type="search" id="query" name="q" placeholder="Search...">
            <button>Search</button>
        </form>
        <!--<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="내가 궁금하다면?">
        <datalist id="datalistOptions">
        <option value="멋쟁이사자처럼 10기 프론트엔드, 오준서">
        </datalist>
        --->
        <a href="{% url 'showwrite' %}">WRITE PAGE</a>
        <a href="{% url 'showhistory' %}">HISTORY PAGE</a>
        <a href="{% url 'showphoto' %}">PHOTO PAGE</a>
        <a href="{% url 'showcharacter' %}">CHARACTER PAGE</a>
        <a href="{% url 'showhobby' %}">HOBBY PAGE</a>
        <br>
    </div>
    
    <!--u
    <div class="name">
        <p>융합에너지신소재공학과</p>        
        <p>17학번 공룡<img class="dino" src="{% static 'images/dino.png' %}"/></p>
        <p>1998.07.23 경남 창원 출생</p>
    </div>
    -->    
    
    <br><br>
    
    <!--
    <div class="card">
        <img src="{% static 'images/frontend.png' %}" class="card-_img" alt="frontend">
        <div class="card-body">
            <h3 class="card-title">WANTED</h3>
            <p class="card-text">"FE Developer, CEO"</p>
            <a href="#" class="btn btn-primary">Back to Top</a>
        </div>
    </div>    
    -->
    
    
    <footer>
        <div id="contact">
            <h3>Contact</h3>
            <span>Call : 010-9153-6965</span>
            <br>
            <span>E-mail : wnstj701@naver.com</span>
            <br>
            <a target="blank" href="https://www.instagram.com/way_to_focus/?hl=ko">Instagram</a>
        </div>
    </footer>
    </html>
{% endblock %}