{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="landing">
        <a href="https://github.com/AsherOh" target="_blank"><img src="{% static 'images/Likelion.png' %}" class="likelion" alt="likelion"/></a>
        <h1>Hello, LION</h1>
        <!-- <div class="searchbar">
            <form action="https://search.google.com/search">
                <div class="search">
                    <input type="text" name="query" value="" placeholder="아기사자 검색">
                    <button type="submit">검색</button>
                </div>
            </form>
        </div> -->
        <div class="arrow">
            &#129043;
        </div>
    </section>
    <hr>

    <section class="landing_body">
        <div class="container">
            <div class="item1">

            </div>
            <div class="item2">

            </div>
        </div>
    </section>

    <footer>
        <div class="landing_btm">
            <h2>Contact</h2>
            <a target="blank" href="https://www.instagram.com/way_to_focus/?hl=ko"><img src="{% static 'images/instagram.jpg' %}" alt="Instagram" style="width: 100px; height:100px"></a>
            <br>
            <span>Call : 010-9153-6965</span>
            <br>
            <span>E-mail : wnstj701@naver.com</span>
            <br>
        </div>
    </footer>

{% endblock %}