{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="title" style="margin-top: -10%;">
        <div class="mainword">
            <a href="https://github.com/AsherOh" target="_blank"><img src="{% static 'images/Likelion.png' %}" style="width: 100px; height:55px; margin-left: 440px; margin-bottom: -120px;" class="likelion" alt="likelion"></a>
            <h1 style="font-size:100px">Hello, LION</h1>
        </div>
        
        <section class="searchbar">
            <form action="https://search.naver.com/search.naver">
                <div class="search">
                    <input type="text" name="query" value="">
                    <button type="submit">검색</button>
                </div>
            </form>
        </section>

        <hr>
        <!--
            <div class="box">
            <input type="search" id="search" style="width: 550px; height: 35px; font-size: 20px;" placeholder="아기사자 검색"/>
            <div id="recommend" class="invisible">
                <div class="item">멋쟁이사자처럼 10기 오준서<span class="text"></span></div>
            </div>
        </div>
        -->
        
        <!--<input class="form-control" list="datalistOptions" id="s" placeholder="아기사자 검색" style="width: 750px; height: 50px;>
        <datalist id="datalistOptions">
        <option value="멋쟁이사자처럼 10기 프론트엔드, 오준서">
        </datalist>
        -->
    </div>
    
    <footer>
        <div id="contact">
            <h3 style="background-color: #c3dcd8;">Contact</h3><a target="blank" href="https://www.instagram.com/way_to_focus/?hl=ko"><img src="{% static 'images/instagram.jpg' %}" alt="Instagram" style="width: 50px; height:50px"></a>
            <br>
            <span>Call : 010-9153-6965</span>
            <br>
            <span>E-mail : wnstj701@naver.com</span>
            <br>
        </div>
    </footer>

{% endblock %}